header {
    position: fixed;
    overflow: hidden;
    left: 0;
    top: 0;
    right: 0;
    padding: 8px;
    background: #141414;
    box-shadow: 0 1px 4px #333;

    -webkit-transition: background 160ms linear;
}
header.scrolling {
    background: rgba(20, 20, 20, 0.8);
}
header h1 {
    color: #6b21a9;
    font-family: 'Leckerli One', cursive;
    font-size: 28px;
    float: left;
    padding-right: 20px;
    line-height: 22px;
    cursor: default;
    text-shadow: 0 1px #fff, 1px 0 #fff, -1px 0 #fff, 0 -1px #fff;
}
header h1:hover {
    text-shadow: 0 1px #fff, 1px 0 #fff, -1px 0 #fff, 0 -1px #fff,
        0 0 12px #fff;
}
nav {
    float: left;
}
nav a {
    color: #fff;
    padding: 5px;
    float: left;
    text-decoration: none;
    margin-right: 4px;
}
nav a:hover {
}
nav .selected {
    border-bottom: 4px solid #fff;
}
