.popin {
    position: absolute;
    z-index: 100;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 0 10px rgba(120, 120, 120, 0.6);
    visibility: hidden;
}

.popin > * {
    display: none;
}

.popin .show {
    display: block;
}

.simple-popin {
    top: 100px;
    left: 50%;
    width: 400px;
    margin: 0 0 0 -200px;
}
