.popin {
    position: absolute;
    z-index: 100;
    left: 50%;
    width: 400px;
    margin: 0 0 0 -200px;
    top: 80px;
    bottom: 40px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 0 0 10px rgba(120, 120, 120, 0.6);
}
