.wall {
    position: absolute;
    top: 46px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
}
.wall .tile {
    background: url(../img/ajax-loader.gif) center center no-repeat;
}
.wall .tile.error {
    background: none;
}
.wall img {
    float: left;
}

