html, body, h1, h2 {
    padding: 0;
    margin: 0;
}
body {
    font-family: arial,helvetica,freesans,sans-serif;
}
header {
    position: fixed;
    overflow: hidden;
    left: 0;
    top: 0;
    right: 0;
    padding: 8px;
    background: rgba(0, 0, 0, 0.6);
}
header h1 {
    color: #6b21a9;
    font-family: 'Leckerli One', cursive;
    font-size: 28px;
    float: left;
    text-shadow: 0 1px #fff, 1px 0 #fff, -1px 0 #fff, 0 -1px #fff;
    padding-right: 20px;
    line-height: 22px;
}
nav {
    float: left;
}
nav a {
    color: #fff;
    padding: 5px;
    float: left;
    text-decoration: none;
    margin-right: 4px;

}
nav a:hover {
}
nav .selected {
    border-bottom: 4px solid #fff;
}
.wall {
    padding-top: 48px;
}
.wall img {
    float: left;
}

