<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <title>myimg.at {% block page_title %}{% endblock %}</title>
        <meta http-equiv="ETag" content="" />
        <meta name="robots" content="All" />
        <meta name="author" content="timehome@djangodash" />
        <meta name="description" content="Your own wall of pictures" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

        {% block head %}
        {% endblock %}

        <link href="http://fonts.googleapis.com/css?family=Leckerli+One" rel="stylesheet" type="text/css" />
        <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>

        {% block body %}
        {% endblock %}

        <script src="{{ STATIC_URL }}wall/js/analytics.js"></script>
    </body>
</html>

