{% extends "base.html" %}

{% block head %}
    {% block css %}
    <link href="{{ STATIC_URL }}wall/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}wall/css/defaults.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}wall/css/header.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}wall/css/overlay.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}wall/css/popin.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}wall/css/login-popin.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}wall/css/crop-popin.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}wall/css/wall.css" rel="stylesheet" type="text/css" />
    {% endblock %}

    {% block open_graph %}
    <meta property="og:title" content="MyImg.at"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://myimg.at/"/>
    <meta property="og:site_name" content="MyImg.at"/>
    <meta property="fb:app_id" content="211101618942268"/>
    <meta property="og:description" content="Crop and share your photos anyware."/>
    {% endblock %}

    {% block extra_head %}
    {% endblock %}
{% endblock %}

{% block body %}

    {% block menu %}
    <header id="header">
        <h1>{% block header_logo %}myimg.at{% endblock %}</h1>

        {% block header_hint %}
        <div class="hint">double-click on a photo to crop and share</div>
        {% endblock %}

        <nav class="albums">
        </nav>
        <nav class="user">
            {% block user_navigation %}
            {% endblock %}
        </nav>
    </header>
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% include "wall/popin.html" %}

    {% block js %}
    <script>
        settings = this.settings || {};
        settings.defaultUsername = '{{ username }}';
        settings.urls = {
            shorten: '{% url wall.views.save_cropped_photo %}',
            userAlbums: '/api/{username}.json'
        };
    </script>
    <script src="{{ STATIC_URL }}wall/js/mootools-core-1.3.2-compat.js"></script>
    <script src="{{ STATIC_URL }}wall/js/mootools-more-1.3.2.1.js"></script>
    <script src="{{ STATIC_URL }}wall/js/wall.js"></script>
    <script src="{{ STATIC_URL }}wall/js/moocrop.js"></script>
    <script src="{{ STATIC_URL }}wall/js/pubsub.js"></script>
    <script src="{{ STATIC_URL }}wall/js/header.js"></script>
    <script src="{{ STATIC_URL }}wall/js/overlay.js"></script>
    <script src="{{ STATIC_URL }}wall/js/popin.js"></script>
    <script src="{{ STATIC_URL }}wall/js/crop-popin.js"></script>
    <script src="{{ STATIC_URL }}wall/js/init.js"></script>
    {% endblock %}

{% endblock %}
