{% extends "wall/base.html" %}

{% load thumbor_tags %}

{% block css %}
    {{ block.super }}
    <link href="{{ STATIC_URL }}wall/css/image-page.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body_class %}image-page{% endblock %}

{% block open_graph %}
<meta property="og:title" content="{{ photo.title }} at MyImg.at"/>
<meta property="og:type" content="article:activity"/>
<meta property="og:url" content="http://myimg.at/shared_photo/{{ photo.id }}"/>
<meta property="og:image" content="{% thumbor_url_unsafe photo.url "50x50" %}"/>
<meta property="og:site_name" content="MyImg.at"/>
<meta property="fb:app_id" content="211101618942268"/>
<meta property="og:description" content="Show, see, crop and share your photos easily!"/>
{% endblock %}

{% block header_logo %}<a href="/">myimg.at</a>{% endblock %}

{% block header_hint %}{% endblock %}

{% block content %}
<div class="content">
    <h2>{{ photo.original_photo.title }}</h2>

    <img class="cropped-image" src="http://thby.nl{{ photo.url }}" alt="{{ photo.original_photo.title }}" />
    
    {% comment %}
    <a href="/{{ photo.album.username }}">Go to {{ photo.original_photo.album.username }} wall</a>
    {% endcomment %}

    <div id="disqus_thread"></div>
    <script>
        var disqus_shortname = 'myimgat';
        var disqus_identifier = 'myimgat_sharedphoto_id_{{ photo.id }}';
        var disqus_url = 'http://myimg.at{{ request.path }}';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
{% endblock %}

{% block js %}
{% endblock %}
