{% extends "wall/base.html" %}

{% block albums_navigation %}
    {% for album in albums %}
        {% if album.photos %}
        <a class="selected" href="#{{ album.identifier }}" title="{{ album.title }}">{{ album.title }}</a>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block user_navigation %}
    {% if user.is_authenticated %}
    <script>
        settings = this.settings || {};
        settings.authUsername = "{{ username }}";
    </script>
    <span>{{ username }}</span>
    <a href="/logout/">logout</a>
    {% endif %}
{% endblock %}

{% block content %}
<div class="viewport">
    <div id="wall" class="wall"></div>
</div>
{% endblock %}
