{% extends "wall/base.html" %}


{% block user_navigation %}
    {% if user.is_authenticated %}
    <script>
        settings = this.settings || {};
        settings.authUsername = "{{ username }}";
    </script>

    {% for association in still_unassociated %}
        <a class="{{ association.class }}" href="{{ association.url }}">{{ association.label }}</a>
    {% endfor %}

    <span>{{ request.user.username }}</span>
    <a href="/logout/">logout</a>
    {% endif %}
{% endblock %}

{% block content %}
<div class="viewport">
    <div id="wall" class="wall"></div>
</div>
{% endblock %}
