{% extends "wall/base.html" %}

{% block navigation %}
    {% for album in albums %}
        {% if album.photos %}
        <a class="selected" href="#{{ album.identifier }}" title="{{ album.title }}">{{ album.title }}</a>
        {% endif %}
    {% endfor %}
    {% if user.is_authenticated %}
        <script>
            var auth_username = "{{ username }}";
        </script>
        <a class="selected" href="/logout/">logout</a>
    {% else %}
        <a class="selected" href="{% url socialauth_begin "google" %}">login</a>
    {% endif %}
{% endblock %}

{% block content %}
<div class="viewport">
    <div id="wall" class="wall"></div>
</div>
{% endblock %}
