<div id="simple-popin" class="simple-popin popin">
    <div class="login">
        <p>Show, see, crop and share your photos easily!</p>
        <p>Choose your log-in option:</p>
        <ul>
            <li><a href="{% url socialauth_begin "facebook" %}">facebook</a></li>
            <li><a href="{% url socialauth_begin "google" %}">google</a></li>
        </ul>
    </div>
</div>

<div id="crop-popin" class="crop-popin popin">
    <div class="crop">
        <h2>image title</h2>
        <div class="photo"></div>
        <a href="#">Share</a>
    </div>
    <div class="share">
    </div>
</div>
