<div id="simple-popin" class="simple-popin popin">
    
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    
    <div class="login">
        <p>Show, see, crop and share your photos easily!</p>
        <p>Choose your log-in option:</p>
        <ul>
            <li><a href="{% url socialauth_begin "facebook" %}">facebook</a></li>
            <li><a href="{% url socialauth_begin "google" %}">google</a></li>
        </ul>
    </div>
</div>

<div id="crop-popin" class="crop-popin popin">
</div>
