<div id="simple-popin" class="simple-popin popin">
    <div class="login">
        <p>Show, see, crop and share your photos easily!</p>
        <p>Choose your log-in option:</p>
        <ul>
            <li><a href="{% url socialauth_begin "facebook" %}">facebook</a></li>
            <li><a href="{% url socialauth_begin "google" %}">google</a></li>
        </ul>
    </div>
</div>

<div id="crop-popin" class="crop-popin popin">
    <div class="crop">
        <h2>image title</h2>
        <div class="photo"></div>
        <a class="share-button" href="#">share photo</a>
        <div class="share-details">
            <h3>Share this url: <a href="#" target="_blank" class="url"></a></h3>
            <h3>Embed:</h3>
            <p>&lt;a href=&quot;<span class="comment-page"></span>&quot;&gt;&lt;img src=&quot;<span class="url"></span>&quot; alt=&quot;<span class="title"></span>&quot; /&gt;&lt;/a&gt;</p>
        </div>
        {% csrf_token %}
    </div>
    <div class="share">
    </div>
</div>
